In [1]:
import pandas as pd

In [14]:
countries = ['Ukraine', 'Poland', 'Czech']
capitals = ['Kiev', 'Warsaw', 'Prague']
df = pd.DataFrame({'countries':countries,
                  'capitals':capitals})
df.rename(index={0: "UA", 1: "PL", 2: "CZ"}, inplace=True)
df

   countries capitals
UA   Ukraine     Kiev
PL    Poland   Warsaw
CZ     Czech   Prague

In [16]:
df.drop(['PL'], axis=0, inplace=True)
df

   countries capitals
UA   Ukraine     Kiev
CZ     Czech   Prague

In [18]:
df1 = pd.DataFrame({'first': [1, 2, 3],
                   'second':[4, 5, 6]})
df1

   first  second
0      1       4
1      2       5
2      3       6

In [20]:
df.head(1)

   countries capitals
UA   Ukraine     Kiev

In [21]:
df.describe()

       countries capitals
count          2        2
unique         2        2
top        Czech   Prague
freq           1        1

In [27]:
df.loc['UA', 'capitals']

'Kiev'

In [30]:
df.iloc[0, 1]

'Kiev'